:root{
    --primary-color:#9369f7;
    --background-color:#e9e4f7;
    --white-color:#ffffff;
    --border-color:#aaa3a366;
    --text-color:#9a9595;
    
/* font-size */
    --text-base:1rem;
    --text-xl:1.5rem;
}

::-webkit-scrollbar{
    width:6px;

}
::-webkit-scrollbar-track{
background:  #e5e5e5;;

}
::-webkit-scrollbar-thumb{
    background-color:var(--primary-color);
    border-radius: 30px;

}
.btn-primary{
    background-color: var(--primary-color);
    color:var(--white-color);
    border: none;
    
}
.btn-secondry{
    color:var(--primary-color);
    border: 1px solid var(--border-color);
    
}

.text-color{
    color: var(--text-color);
}
.icon-color{
    color:var(--primary-color);
    
}
.icon-border{
    border-radius: 100%;
    padding:4px;
    border: 1px solid var(--border-color);
}